logging:
  file: "/tmp/{{ appname }}-dbupgrader.log"

datasource:
  driverClassName: "{{ app.db.driver }}"
  username: "{{ app.db.user }}"
  password: "{{ app.db.user_password }}"
  url: "jdbc:mysql://{{ groups['db'][0] }}:{{ db.port }}/{{ app.db.name }}?autoReconnect=true"
